.forum-container {
    position: relative;
    width:100%;
    height:100%;
}
.forum-box {
    position:relative;
    height:470px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 2px #ccc;
   
}
.forum-container .caption {
    font-size: 25px;
    font-family: sans-serif;
    color: gray;
    text-align: center;
}
.forum-box form{
    padding-left:20px;
    padding-top:20px; 
}

.forum-box form > div {
    display: flex;
}

form #name, #email{
    position: absolute;
    left:10%;
    padding:10px;
    color:gray;
    font-family: sans-serif;
    font-size: 14px;
    border-style: none;
    box-shadow: 1px 1px 4px 1px #ccc;
    width:300px;
}
form textarea {
    position: absolute;
    left:10%;
    padding:10px;
    color:gray;
    font-family: sans-serif;
    font-size: 14px;
    border-style: none;
    box-shadow: 1px 1px 4px 1px #ccc;
}
#name:focus {
    background-color: #fff;
}
form #submit {
    position: absolute;
    width:100px;
    top:80%;
    left:15%;
    padding:5px;
    background-color:#4cb1ca;
    transition-duration: 0.7s;
    border-style: none;
    color:white;
}
form input[type=reset] {
    color:white;
    position: absolute;
    top:80%;
    left:24%;
    width:100px;
    padding:5px;
    background-color:#4cb1ca;
    transition-duration: 0.7s;
    border-style: none;
}
form #submit:hover,input[type=reset]:hover {
    background-color:rgb(29, 48, 79);
}
.forum-grid-container {
    position: relative;
    left:11%;
    padding:10px;
    width:75%;
    height:100%;
   
}
.forum-grid {
    display: grid;
    grid-template-columns:auto;
}
.name_email {
    font-size: 14px;
    color:gray;
}

.forum-grid textarea {
    box-shadow: 1px 1px 4px 1px #ccc;
    background-color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    padding:10px;
}
.footer-container {
    position: relative;
    margin-top:20px;
}